# Core dependencies
pydantic~=2.11.7
pydantic-ai~=0.4.11
openai~=1.97.0
python-dotenv~=1.1.1
okta~=2.9.13
sqlalchemy~=2.0.41
aiosqlite~=0.21.0
pydantic-settings~=2.9.1
pytz~=2025.2
fastapi~=0.116.1
uvicorn~=0.34.3
argon2-cffi~=23.1.0
python-jose[cryptography]~=3.5.0
python-multipart~=0.0.20
html-sanitizer~=2.5.0
dateparser~=1.2.2
polars~=1.31.0